section.article
    .container
        .article__wrap

            .article__left

                .article__slider-for
                    .article__slider-for--slide
                        img(src='img/top-news-2.png')

                .article__slider-nav
                    .article__slider-nav--slide
                        img(src='img/top-news-2.png')
                    .article__slider-nav--slide
                        img(src='img/top-news-2.png')
                    .article__slider-nav--slide
                        img(src='img/top-news-2.png')
                    .article__slider-nav--slide
                        img(src='img/top-news-2.png')
                    .article__slider-nav--slide
                        img(src='img/top-news-2.png')

                .article__banner
                    .article__banner--item

            .article__right

                .section
                    span.section--name fotbal
                    span.section--date 22.10.2018
                h3.title Všechno se upeklo
                    strong  během dvou dnů

                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.
                p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se. ak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.

                a(href='#').link Sdílej
                a(href='#').link Líbí se mi
                a(href='#').link NeLíbí se mi

                a(href='#').author jméno autora