section.banner

    h1.banner__title
        span Fanděte
        |  s námi!

    .banner__img
        img(src='img/footer-sport.png' alt='sport')

    .banner__mobile-swimming
        img(src='img/swimming-img.png' alt='swimming')