section.comments
    .container
        .comments__wrapper

            .comments__box

                .comments__links
                    span.comments__links--title komentáře k článku
                    a(href='#').comments__links--link Napsat komentář
                    a(href='#').comments__links--link ZOBRAZIT VŠECHNY KOMENTÁŘE

                .comments__item
                    .avatar.no-avatar
                    .descr
                        p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.

                .comments__item.comments__item--answer
                    .avatar.no-avatar
                    .descr
                        p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.

                .comments__item
                    .avatar.no-avatar
                    .descr
                        p Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.

            .comments__banner
                .horizontal-banner
