section.day-news
    .container
        .day-news__wrapper
            .day-news__element
                .photo
                    img(src='img/day-news-1.png' alt='photo')

                .section
                    span.section--name fotbal
                    span.section--date 22.10.2018

                h3.title Všechno se upeklo během dvou dnů

                p.descr Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.

                a(href='#').more celý článek

            .day-news__banner
                .banner

            .day-news__element
                .photo
                    img(src='img/day-news-2.png' alt='photo')

                .section
                    span.section--name fotbal
                    span.section--date 22.10.2018

                h3.title Lacko je po úvodních závodech v ME tahačů třetí

                p.descr Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.

                a(href='#').more celý článek

            .day-news__element
                .photo
                    img(src='img/day-news-1.png' alt='photo')

                .section
                    span.section--name fotbal
                    span.section--date 22.10.2018

                h3.title Všechno se upeklo během dvou dnů

                p.descr Jak poukazuje, jednání se dalo do chodu velmi rychle. „Kodaň se ozvala po zápase s Jabloncem a všechno se dohodlo během dvou dnů. Všechny nás překvapilo, jak to bylo rychlé. Ve Slavii jsem necelý půlrok a podávám slušné výkony, což je asi přesvědčilo. Koukali se i na reprezentaci a říkali, že mě sledovali i v Teplicích. Byla to rychlá akce," usmívá se.

                a(href='#').more celý článek

    a(href='#').day-news__more ZOBRAZIT další články dne