section.day-news
    .container
        .day-news__wrapper
            .day-news__element
                .photo
                    img(src='img/day-news-1.png' alt='photo')

            .day-news__banner
                .banner

            .day-news__element
                .photo
                    img(src='img/day-news-2.png' alt='photo')

            .day-news__element
                 .photo
                     img(src='img/day-news-1.png' alt='photo')