footer.footer

    .footer__bg
        p.footer__bg--copyright Copyright © 2018 Stadion, a.s
        p.footer__bg--title
            span Stadion a. s.
            |   , Mečislavova 164/7, Praha 4, 140 00, Mail: info@stadion.cz, Tel.: +420 736 769 333

#gdpr-modal.modal

    span.modal__close

    h3.modal__maintitle SOUHLAS SE ZPRACOVÁNÍM OSOBNÍCH ÚDAJŮ

    .modal__wrapper

        p Udělením tohoto souhlasu se zpracováním osobních údajů poskytujete souhlas k tomu, aby Stadion Media a. s., sídlo Vlkova 631/24, Praha 3 - Žižkov, 130 00, IČ  610 58 483,                e-mail: info@stadion.cz, tel.: 736 769 333 (dále „Správce) zpracovávala Vaše osobní údaje dle dále uvedených podmínek.

        h3 1. Osobní údaje, které budou zpracovány:
        p e-mailovou adresu

        h3 2. Podmínky zpracování osobních údajů Subjektu údajů:
        ul
            li Správcem osobních údajů podle Nařízení (EU) 2016/679 (GDPR) je Správce.
            li Vaše osobní údaje zpracováváme z důvodu registrace na webových stránkách www.stadion.cz
            li Zpracováváme vaše výše uvedené osobní údaje za účelem vaší registrace na webových stránkách www.stadion.cz
            li Právním důvodem tohoto zpracování registrace na webových stránkách www.stadion.cz. Uvedené osobní údaje za tímto účelem zpracováváme po dobu 3 let od vaší registrace.
            li Ochrana vašich osobních údajů odpovídá požadavkům Nařízení (EU) 2016/679 (GDPR)
            li Abychom mohli uchovávat vaše osobní údaje, je právní důvod vyžádat si tímto váš souhlas, který nám poskytujete a který můžete kdykoli odvolat.
            li Vaše osobní údaje poskytujeme jen institucím k tomu zmocněným zákonem, nikomu jinému Vaše osobní údaje bez vašeho výslovného souhlasu neposkytujeme. Tento souhlas můžete kdykoliv odvolat.
            li Při zpracování Vašich osobních údajů nebude docházet k automatizovanému rozhodování ani k profilování.
            li Nejmenovali jsem pověřence pro ochranu osobních údajů, nepověřili jsem zpracováním Vašich osobních údajů žádného zpracovatele ani neurčili zástupce pro plnění povinností ve smyslu GDPR.
            li Nemáme v úmyslu předat Vaše osobní údaje do třetí země, mezinárodní organizaci nebo jiným, osobám.
            li Kdykoliv máte právo odvolat svůj souhlas se zpracováním osobních údajů, právo požadovat od nás jako Správce přístup ke svým osobním údajům, jejich opravu nebo výmaz, popřípadě omezení zpracování, a vznést námitku proti zpracování, máte právo na přenositelnost těchto údajů k jinému správci, jakož i právo podat stížnost u Úřadu pro ochranu osobních údajů, máte-li za to, že při zpracování vašich osobních údajů postupujeme v rozporu s GDPR.

        h3 Právním důvodem tohoto zpracování registrace na webových stránkách www.stadion.cz. Uvedené osobní údaje za tímto účelem zpracováváme po dobu 3 let od vaší registrace.



#overlay