footer.footer

    .footer__middle
        a.footer__logo(href='#')
            img(src='img/icons/footer-logo.png' alt='logo')

        .footer__navlinks
            ul
                li
                    a(href='#') Aerobic
                li
                    a(href='#') Akrobatický Rock and Roll
                li
                    a(href='#') Americký fotbal
                li
                    a(href='#') Atletika
                li
                    a(href='#') Badminton
                li
                    a(href='#') Baseball
                li
                    a(href='#') Billiard
                li
                    a(href='#') Boby a skeleton
                li
                    a(href='#') Bojová umění
                li
                    a(href='#') Box
                li
                    a(href='#') Cyklistika
                li
                    a(href='#') Curling
                li
                    a(href='#') Extrémní sporty
                li
                    a(href='#') Florbal
                li
                    a(href='#') Fotbal

            ul
                li
                    a(href='#') Golf
                li
                    a(href='#') Gymnastika
                li
                    a(href='#') Házená
                li
                    a(href='#') Hokejbal
                li
                    a(href='#') Horolezectví
                li
                    a(href='#') Horská služba
                li
                    a(href='#') Cheerleaders
                li
                    a(href='#') Jachting
                li
                    a(href='#') Jezdectví
                li
                    a(href='#') Jóga
                li
                    a(href='#') Judo
                li
                    a(href='#') Kanoistika
                li
                    a(href='#') Kolečkové sporty
                li
                    a(href='#') Korfbal
                li
                    a(href='#') Koulové sporty
                li
                    a(href='#') Krasobruslení

            ul
                li
                    a(href='#') Kulturistika
                li
                    a(href='#') Kuše
                li
                    a(href='#') Kuželky a bowling
                li
                    a(href='#') Lakros
                li
                    a(href='#') Lední hokej
                li
                    a(href='#') Lyžování
                li
                    a(href='#') Metaná
                li
                    a(href='#') Minigolf
                li
                    a(href='#') Moderní gymnastika
                li
                    a(href='#') Moderní pětiboj
                li
                    a(href='#') Muay-thi
                li
                    a(href='#') Národní házená
                li
                    a(href='#') Nohejbal
                li
                    a(href='#') Orientační sport

            ul
                li
                    a(href='#') Plavání
                li
                    a(href='#') Pozemní hokej
                li
                    a(href='#') Psí spřežení
                li
                    a(href='#') Rádiový orientační běh
                li
                    a(href='#') Rugy
                li
                    a(href='#') Rychlobruslení
                li
                    a(href='#') Sáně
                li
                    a(href='#') Silový trojboj
                li
                    a(href='#') Skiboby
                li
                    a(href='#') Softball
                li
                    a(href='#') Sport pro všechny
                li
                    a(href='#') Squash
                li
                    a(href='#') Stolní tenis
                li
                    a(href='#') Šachy

            ul
                li
                    a(href='#') Taekwon-do ITF
                li
                    a(href='#') Tenis
                li
                    a(href='#') Triatlon
                li
                    a(href='#') Univerzitní sport
                li
                    a(href='#') Veslování
                li
                    a(href='#') Vodní lyžování a wakeboarding
                li
                    a(href='#') Vodní Motorismus
                li
                    a(href='#') Vodní pólo
                li
                    a(href='#') Volejbal
                li
                    a(href='#') Vzpírání
                li
                    a(href='#') Zápas
                li
                    a(href='#') Zdravotně postižení sportovci

    .footer__sign

        .container

            p.footer__sign--art Copyright © 2017 Stadion, a.s.

            p.footer__sign--art
             strong Stadion,
             |  Ve Smečkách 32, Praha 1, 110  00, Mail: stadion@stadion.cz, Tel.: 123 456 789

            .footer__socialc
                a(href='#')
                    img(src='img/icons/search-icon.png')
                a(href='#')
                    img(src='img/icons/facebook-icon.png')
                a(href='#')
                    img(src='img/icons/google-icon.png')
                a(href='#')
                    img(src='img/icons/inst-icon.png')
                a(href='#')
                    img(src='img/icons/tw-icon.png')
                a(href='#')
                    img(src='img/icons/yotube-icon.png')