header.header
    .header__top
        p.header__top--title Nejlepší online magazín o sportě.

        a.header__kabinet
            span.title Přihlášení
            span.icon

    .header__middle
        a.header__logo(href='/')
            img(src='img/icons/head-logo.png' alt='logo')

        .header__middle--wrapper
            .header__middle--item
                p.title všechny výsledky

            .header__middle--item
                h3.header__middle--subtitle Lední hokej:
                    span Mistrovství světa v hokeji



            .header__middle--item
                h3.header__middle--subtitle Fotbal:
                    span 1. Liga
            .header__middle--item
                h3.header__middle--subtitle Fotbal:
                    span 1. Liga
            .header__middle--item
                h3.header__middle--subtitle Fotbal:
                    span Premier League
            .header__middle--item
                h3.header__middle--subtitle Tenis:
                    span INTERNAZIONALI BNL D'ITALIA 2017