header.header
    .header__top
        p.header__top--title Nejlepší online magazín o sportě.

        a.header__kabinet
            span.title Přihlášení
            span.icon

    .header__middle
        a.header__logo(href='/')
            img(src='img/icons/head-logo.png' alt='logo')

        .header__middle--wrapper
            .header__middle--item
                p.title všechny výsledky

            .header__middle--item
                h3.header__middle--subtitle Lední hokej:
                    span Mistrovství světa v hokeji
                ul.header__middle--list
                    li
                        span 13. 5. 	Švýcarsko – Finsko
                        span 2:3 pp
                    li.notice
                        span 13. 5. 	Dánsko – Švédsko
                        span 2:4
                    li
                        span 13. 5. 	Francie – Česko
                        span 2:5
                    li.notice
                        span 13. 5. 	Slovensko – USA
                        span 1:6

            .header__middle--item
                h3.header__middle--subtitle Fotbal:
                    span 1. Liga
                ul.header__middle--list.white
                    li
                        span 13. 5.	Teplice – Bohemians 1905
                        span 1:0
                    li
                        span 13. 5.	Slávia – Dukla
                        span 2:2
                    li
                        span 13. 5.	Zlín – Jihlava
                        span 0:3
                    li
                        span 13. 5.	Hradec – Slovácko
                        span 2:1

            .header__middle--item
                h3.header__middle--subtitle Fotbal:
                    span 1. Liga
                ul.header__middle--list.white
                    li
                        span 13. 5.	Teplice – Bohemians 1905
                        span 1:0
                    li
                        span 13. 5.	Slávia – Dukla
                        span 2:2
                    li
                        span 13. 5.	Zlín – Jihlava
                        span 0:3
                    li
                        span 13. 5.	Hradec – Slovácko
                        span 2:1

            .header__middle--item
                h3.header__middle--subtitle Fotbal:
                    span Premier League
                ul.header__middle--list
                    li
                        span 13. 5	Tottenham – Manchester Utd.
                        span 2:1
                    li
                        span 13. 5	West Ham – Liverpool
                        span 0:4
                    li
                        span 13. 5	Crystal Palace – Hull
                        span 4:0
                    li
                        span 13. 5	Stoke – Arsenal
                        span 1:4

            .header__middle--item
                h3.header__middle--subtitle Tenis:
                    span INTERNAZIONALI BNL D'ITALIA 2017
                ul.header__middle--list.white
                    li
                        span 13. 5	Nišikori (7-Jap.) - Ferrer (Šp.)
                        span 2:1
                    li
                        span 13. 5	Almagro (Šp.) - Nadal (4-Šp.)
                        span 0:3
                    li
                        span 13. 5	Kerberová (Něm.) - Kontaveitová (Est.)
                        span 3:0
                    li
                        span 13. 5	Wawrinka (3-Švýc.) - Paire (Fr.)
                        span 1:2