section.top-news
    .container
        .top-news__wrapper
            .top-news__wrapper--main
                img(src='img/top-news-1.png' alt='news')

            .top-news__wrapper--second
                .top-news__wrapper--item
                    img(src='img/top-news-2.png' alt='news')

                .top-news__wrapper--item
                    img(src='img/top-news-3.png' alt='news')
