section.top-news

    .container

        .top-news__wrapper

            .top-news__wrapper--main

                img(src='img/top-news-1.png' alt='news')

                .top-news__wrapper--live
                    span.icon
                    span.title live

                .top-news__wrapper--box

                    p.sport Tenis

                    h1.title Tomáš Berdych

                    p.descr Picksum Ipsum is a badass text generator that will give you the best lines from some of the biggest Hollywood legends, including Clint Eastwood, Michael Caine, Jim Carrey and Morgan Freeman:Picksum Ipsum is a badass text generator that will give you the best lines from some of the biggest Hollywood legends, including Clint Eastwood, Michael Caine, Jim Carrey and Morgan Freeman: Picksum Ipsum is a badass text generator that will give you the best lines from some of the biggest Hollywood legends, including Clint Eastwood, Michael Caine, Jim Carrey and Morgan Freeman:

                    a.more(href='article.html') celý článek

                    a(href='#').link
                        span.year 2018
                        span.name turnaj mistrů

            .top-news__wrapper--second

                .top-news__wrapper--item

                    .top-news__wrapper--live
                        span.icon
                        span.title live

                    img(src='img/top-news-2.png' alt='news')

                    a(href='#').top-news__wrapper--box
                        h3.title Mistrovství světa v ledním hokeji 2018
                        p.subtitle Kanada – Česká republika
                        p.val 1:3

                .top-news__wrapper--item

                    img(src='img/top-news-3.png' alt='news')

                    .top-news__wrapper--value
                        p.liga-title Premier League
                        h3.title Liverpool – Tottenham
                        p.descr Picksum Ipsum is a badass text generator that will give you the best lines from some of the biggest Hollywood legends, including Clint Eastwood, Michael Caine, Jim Carrey and Morgan Freeman:
                        a(href='#').more
                            span.more__value 1:3
                            span.more__link celý článek
