.header {
  position: relative;
  float: left;
  width: 100%;

  &__top {
    position: relative;
    float: left;
    width: 100%;
    background-image: url('../img/head_line_bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &--title {
      position: relative;
      float: left;
      color: #7e272d;
      margin-top: 9px;
      margin-bottom: 0;
      margin-left: 35px;
      font-size: 14px;
      font-weight: 600;

      @include breakpoint(max-width 700px){
        width: 100%;
        margin-bottom: 9px;
        margin-left: 0;
        text-align: center;
      }
    }
  }

  &__kabinet {
    position: relative;
    float: right;
    width: 156px;
    height: 32px;
    background-image: url('../img/icons/user-kabinet-btn-icon.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

    > .title {
      position: relative;
      float: left;
      padding-left: 29px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 20px;
      @include box-sizing(border-box);
      color: white;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    > .icon {
      position: relative;
      float: left;
      width: 17px;
      height: 17px;
      margin-left: 10px;
      margin-top: 6px;
      overflow: hidden;
      background-image: url('../img/icons/user-kabinet-icon.png');
      background-repeat: no-repeat;
    }
  }

  &__middle {
    position: relative;
    float: left;
    width: 100%;
    padding-right: 36px;
    @include box-sizing(border-box);
    background-color: #ececec;

    @include breakpoint(max-width 1024px){
      padding-right: 0;
    }
    @include breakpoint(max-width 700px){
      padding-right: 0;
    }

    &--wrapper {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      position: relative;
      float: left;
      width: calc(100% - 170px);
      width: -moz-calc(100% - 170px);

      @include breakpoint(max-width 990px) {
        width: 100%;
      }

      @include breakpoint(max-width 700px){
        width: 100%;
        @include flex-direction(column);
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        right: -36px;
        width: 36px;
        height: 100%;
        background-image: url('../img/notice-bg.png');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;

        @include breakpoint(max-width 700px) {
          display: none;
        }

        @include breakpoint(max-width 1024px){
          display: none;
        }
      }
    }

    &--item {
      flex: 1 0 0;
      position: relative;
      float: left;

      @include breakpoint(max-width 1024px){
        flex: 1 0 30%;
      }

      > .title {
        color: #7e272d;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        margin-top: 51px;
        margin-right: 21px;
        padding: 7px 0;
        @include box-sizing(border-box);
        background-color: #fae548;

        @include breakpoint(max-width 700px) {
          margin-top: 0;
          margin-right: 0;
        }
      }
    }

    &--item:nth-of-type(4), &--item:nth-of-type(6) {
      .header__middle--subtitle {
        background-color: #ebebeb;
      }
    }

    &--subtitle {
      position: relative;
      float: left;
      width: 100%;
      height: 42px;
      text-align: left;
      color: #7e272d;
      font-size: 14px;
      font-weight: 700;
      padding-top: 10px;
      padding-left: 13px;
      padding-right: 13px;
      @include box-sizing(border-box);
      margin-top: 0;
      margin-bottom: 0;
      background-color: #e0e0e0;
      > span {
        color: black;
        font-size: 14px;
        font-weight: 400;
        margin-left: 5px;
      }
    }

    &--list {
      position: relative;
      float: left;
      width: 100%;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 8px;
      list-style: none;
      margin: 0;
      background-color: #ececec;

      li {
        width: 100%;
        position: relative;
        float: left;
        margin-bottom: 5px;
        padding-left: 13px;
        padding-right: 13px;
        @include box-sizing(border-box);
        color: #333;
        font-size: 12px;
        font-weight: 400;

        > span:first-of-type {
          display: block;
          position: relative;
          float: left;
          width: 80%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: left;
        }

        > span:last-of-type {
          display: block;
          position: relative;
          float: left;
          width: 20%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: left;
        }
      }

      li.notice {
        font-weight: 700;
      }
    }

    &--list.white {
      background-color: #fff;
    }
  }

  &__logo {
    position: relative;
    float: left;
    width: 170px;
    height: 234px;
    overflow: hidden;
    z-index: 2;

    @include breakpoint(max-width 990px) {
      width: 100%;
      height: 160px;
    }

    @include breakpoint(max-width 700px) {
      width: 100%;
      height: 128px;
    }

    img, svg {
      size: 100%;
      object-fit: contain;
      margin-left: -16px;
      @include breakpoint(max-width 700px) {
        margin-left: 0;
      }
    }
  }

  &__foot {
    position: relative;
    float: left;
    width: 100%;
    background-color: #ececec;
    overflow: hidden;
    margin-top: -34px;

    @include breakpoint(max-width 1024px) {
      margin-top: 0;
    }

    @include breakpoint(max-width 700px) {
      margin-top: 0;
    }
  }

  &__translation {
    display: block;
    position: relative;
    float: left;
    //width: 316px;
    height: 34px;
    background-color: #fae548;
    -webkit-transform: skew(-23deg);
    -moz-transform: skew(-23deg);
    -o-transform: skew(-23deg);

    @include breakpoint(max-width 700px) {
      width: 100%;
    }

    > .play {
      display: block;
      position: relative;
      float: left;
      width: 73px;
      height: 100%;
      margin-left: 166px;
      border: none;
      -webkit-transform: skew(-23deg);
      -moz-transform: skew(-23deg);
      -o-transform: skew(-23deg);
      background: #4c4c4c; /* Old browsers */
      background: -moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 0%, #474747 1%, #595959 1%, #666666 25%, #2b2b2b 80%, #1c1c1c 98%, #111111 100%, #000000 100%, #131313 100%, #000000 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #4c4c4c 0%, #2c2c2c 0%, #474747 1%, #595959 1%, #666666 25%, #2b2b2b 80%, #1c1c1c 98%, #111111 100%, #000000 100%, #131313 100%, #000000 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #4c4c4c 0%, #2c2c2c 0%, #474747 1%, #595959 1%, #666666 25%, #2b2b2b 80%, #1c1c1c 98%, #111111 100%, #000000 100%, #131313 100%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#000000', GradientType=0); /* IE6-9 */

      @include breakpoint(max-width 700px) {
        margin-left: 16px;
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        top: 13px;
        right: 12px;
        background-image: url('../img/icons/play-icon.png');
        background-repeat: no-repeat;
        //background-position: 49px 11px;
        -webkit-transform: skew(38deg);
        -moz-transform: skew(38deg);
        -o-transform: skew(38deg);
      }

      &:focus {
        outline: #000000 auto 5px;
      }
    }

    > .title {
      display: block;
      float: left;
      color: #000;
      font-size: 16px;
      font-weight: 600;
      margin-left: 20px;
      margin-right: 36px;
      line-height: 34px;
      -webkit-transform: skew(23deg);
      -moz-transform: skew(23deg);
      -o-transform: skew(23deg);
    }
  }

  &__search {
    display: block;
    position: relative;
    float: right;
    margin-right: -383px;
    @include transition(0.4s);

    @include breakpoint(max-width 700px) {
      width: 100%;
      margin-right: 0;
      margin-top: 5px;
    }

    &--trigger {
      position: relative;
      float: left;
      width: 36px;
      height: 34px;
      background-color: #fae548;
      background-image: url('../img/icons/head-search-icon.png');
      background-repeat: no-repeat;
      background-position: 10px 8px;
    }

    &--field {
      display: block;
      position: relative;
      float: left;
      width: 320px;
      height: 32px;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      @include box-sizing(border-box);

      @include breakpoint(max-width 700px) {
        width: calc(100% - 36px);
        width: -moz-calc(100% - 36px);
      }
    }

    &--submit {
      position: relative;
      float: left;
      height: 32px;
      border: none;
      background-color: #c0272d;
      padding: 0 10px;
      @include box-sizing(border-box);
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;

      @include breakpoint(max-width 700px) {
        width: 100%;
        margin: 5px 0;
      }
    }
  }
}