.day-news {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  @include box-sizing(border-box);

  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    position: relative;
    float: left;
    margin-left: -15px;
    margin-right: -15px;

    @include breakpoint(max-width 700px) {
      @include flex-direction(column);
    }
  }

  &__element {
    flex: 1 1 20%;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 15px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      flex: 1 1 100%;
      margin-bottom: 10px;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: calc(100% - 81px);
      width: -moz-calc(100% - 81px);
      height: 1px;
      background-color: #7e272d;
    }

    > .photo {
      position: relative;
      float: left;
      width: 100%;
      height: 290px;
      overflow: hidden;

      @include breakpoint(max-width 700px) {
        height: 170px;
      }

      > img, svg {
        size: 100%;
        object-fit: cover;
      }
    }

    > .section {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 15px;
      border-bottom: 1px solid #808080;

      .section--name {
        position: relative;
        float: left;
        width: 50%;
        color: grey;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
      }

      .section--date {
        position: relative;
        float: left;
        width: 50%;
        color: grey;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
      }
    }

    > .title {
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 100%;
      //max-height: auto;
      margin-top: 10px;
      margin-bottom: 0;
      color: #7e272d;
      font-size: 38px;
      font-weight: 300;
      line-height: 1;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    > .descr {
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 30px;
      color: #666;
      font-size: 13px;
      font-weight: 400;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    > .more {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 81px;
      height: 23px;
      text-align: center;
      line-height: 25px;
      color: white;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      background-image: url('../img/read-more_bg-2.png');
      background-repeat: no-repeat;
    }
  }

  &__banner {
    flex: 3 3 10%;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 15px;

    @include breakpoint(max-width 700px) {
      flex: 1 1 100%;
      margin-bottom: 10px;
    }
    > .banner {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      background-color: #c0272d;

      > img, svg {
        size: 100%;
      }
    }
  }

  &__more, &__more:hover {
    position: relative;
    float: right;
    width: 275px;
    height: 38px;
    margin-top: 20px;
    background-color: #7e272d;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    z-index: 1;

    &:after{
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: -11px;
      background-color: #7e272d;
      z-index: -1;
      -webkit-transform: skew(-30deg);
      -moz-transform: skew(-30deg);
      -o-transform: skew(-30deg);
    }
  }
}