.events {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  @include box-sizing(border-box);

  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    position: relative;
    float: left;
    width: 100%;

    @include breakpoint(max-width 700px) {
      @include flex-direction(column);
    }
  }



  &__news-block {
    position: relative;
    float: left;
    width: 70%;
    background-color: #fff;

    @include breakpoint(max-width 700px) {
      width: 100%;
    }

    &--item {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 50px;

      > .photo {
        position: relative;
        float: left;
        width: 40%;
        height: 290px;
        overflow: hidden;
        padding-right: 30px;
        @include box-sizing(border-box);

        @include breakpoint(max-width 700px) {
          width: 100%;
          height: 190px;
          padding-right: 0;
        }

        img, svg, video {
          size: 100%;
          object-fit: cover;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
        }

        video {
          border: 4px solid #7e272d;
        }

        > .icon {
          display: block;
          position: absolute;
          width: 52px;
          height: 32px;
          top: 8px;
          left: 0;
          background-image: url('../img/icons/author-icon.png');
          background-repeat: no-repeat;
        }
      }

      > .descr {
        position: relative;
        float: left;
        width: 60%;
        padding-right: 80px;
        @include box-sizing(border-box);

        @include breakpoint(max-width 700px) {
          width: 100%;
          padding-right: 0;
        }

        > .section {
          position: relative;
          float: left;
          width: 100%;
          border-bottom: 1px solid #808080;

          .section--name {
            position: relative;
            float: left;
            width: 50%;
            color: grey;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: left;
          }

          .section--date {
            position: relative;
            float: left;
            width: 50%;
            color: grey;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: right;
          }
        }

        > .title {
          display: block;
          display: -webkit-box;
          position: relative;
          float: left;
          width: 100%;
          //max-height: auto;
          margin-top: 10px;
          margin-bottom: 0;
          color: #7e272d;
          font-size: 38px;
          font-weight: 300;
          line-height: 1;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;

          @include breakpoint(max-width 990px) {
            font-size: 20px;
            -webkit-line-clamp: 3;
          }

          strong {
            font-weight: 700;
          }
        }

        > .descr {
          display: block;
          display: -webkit-box;
          position: relative;
          float: left;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 36px;
          color: #666;
          font-size: 13px;
          font-weight: 400;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }

        > .more {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 81px;
          height: 23px;
          text-align: center;
          line-height: 25px;
          color: white;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          background-image: url('../img/read-more_bg-2.png');
          background-repeat: no-repeat;
          @include transition(0.4s);

          &:hover {
            color: white;
            box-shadow: -8px 9px 14px -6px #000000;
          }
        }
      }
    }

    &--banner {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 50px;

      > .banner {
        position: relative;
        float: left;
        width: 80%;
        height: 310px;
        overflow: hidden;
        background-color: #c0272d;
      }
    }
  }

  &__banner {
    position: relative;
    float: left;
    width: 30%;
    background-color: #f2f2f2;
    padding: 25px 0;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      width: 100%;
    }

    &--item {
      display: block;
      position: relative;
      float: left;
      width: 300px;
      height: 600px;
      background-color: #c0272d;
      margin-left: calc(50% - (300px / 2));

      @include breakpoint(max-width 990px) {
        width: 100%;
        margin-left: 0;
      }

      > img, svg {
        size: 100%;
        object-fit: contain;
      }
    }
  }

  &__more {
    position: relative;
    float: left;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 36px;
    color: #7e272d;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 90%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #7e272d;
    }
  }

  &__more:hover {
    color: #7e272d;

    &:before {
      display: none;
    }
  }

  &__bottom-bg {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (160px + 36px + 50px));
    width: -moz-calc(100% - (160px + 36px + 50px));
    height: 38px;
    background-image: url('../img/archive-title-bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      display: none
    }
  }

  &__video-wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;

    @include breakpoint(max-width 700px) {
      @include flex-direction(column);
    }

    > .events__news-block--item {
      flex: 1 1 30%;

      > .photo {
        width: 50%;
        height: 150px;
        padding-right: 0;
      }

      > .descr {
        width: 50%;
        padding-left: 14px;
        padding-right: 14px;

        > .title {
          font-size: 20px;
        }

        > .descr {
          -webkit-line-clamp: 2;
        }

        > .more {
          left: 14px;
        }
      }
    }
  }
}