.events {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  @include box-sizing(border-box);

  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    position: relative;
    float: left;
    width: 100%;
  }

  &__news-block {
    position: relative;
    float: left;
    width: 60%;
    background-color: #fff;

    &--item {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 50px;

      > .photo {
        position: relative;
        float: left;
        width: 50%;
        height: 290px;
        overflow: hidden;
        padding-right: 30px;
        @include box-sizing(border-box);

        img, svg {
          size: 100%;
          object-fit: cover;
        }
      }

      > .descr {
        position: relative;
        float: left;
        width: 50%;
        padding-right: 80px;
        @include box-sizing(border-box);

        > .section {
          position: relative;
          float: left;
          width: 100%;
          border-bottom: 1px solid #808080;

          .section--name {
            position: relative;
            float: left;
            width: 50%;
            color: grey;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: left;
          }

          .section--date {
            position: relative;
            float: left;
            width: 50%;
            color: grey;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: right;
          }
        }

        > .title {
          display: block;
          display: -webkit-box;
          position: relative;
          float: left;
          width: 100%;
          //max-height: auto;
          margin-top: 10px;
          margin-bottom: 0;
          color: #7e272d;
          font-size: 38px;
          font-weight: 300;
          line-height: 1;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }

        > .descr {
          display: block;
          display: -webkit-box;
          position: relative;
          float: left;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 36px;
          color: #666;
          font-size: 13px;
          font-weight: 400;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }

        > .more {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 81px;
          height: 23px;
          text-align: center;
          line-height: 25px;
          color: white;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          background-image: url('../img/read-more_bg-2.png');
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__banner {
    position: relative;
    float: left;
    width: 40%;
    background-color: #f2f2f2;
    padding: 25px 0;
    @include box-sizing(border-box);

    &--item {
      display: block;
      position: relative;
      float: left;
      width: 300px;
      height: 600px;
      background-color: #c0272d;
      margin-left: calc(50% - (300px / 2));
    }
  }

  &__more {
    position: relative;
    float: left;
    width: 198px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 36px;
    color: #7e272d;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 98%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #7e272d;
    }
  }

  &__more:hover {
    color: #7e272d;

    &:before {
      display: none;
    }
  }

  &__bottom-bg {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (198px + 36px + 50px));
    width: -moz-calc(100% - (198px + 36px + 50px));
    height: 38px;
    background-image: url('../img/archive-title-bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    @include box-sizing(border-box);
  }
}