doctype html
html
    head(lang='en')
        include ../html_open

    body
        include ../header
        include ../top
        include ../banner
        include ../footer
        include ../html_close