doctype html
html
    head(lang='en')
        include ../html_open
    body
        include ../header
        include ../top-news
        include ../narrow-banner
        include ../day-news
        include ../events
        include ../foot-banner
        include ../footer

        include ../html_close