.section-title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #7e272d;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: url("../img/section-title-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.pagination {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(center);
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}