.section-title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #7e272d;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: url("../img/section-title-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.pagination {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(center);
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  > li {

    > a {
      border: none;
      cursor: pointer;
      color: #7e272d;
      font-size: 20px;
      font-weight: 700;
      &:hover {
        background-color: transparent;
        color: #fae548;
      }
      
      > img {
        margin-top: -4px;
      }
    }
  }
}

.js-fixed {
  position: fixed!important;
  top: 0;
  right: 0;
  margin: 0;
  margin-right: 77px;
}