.container {
    box-sizing: border-box;

    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container {
    @extend %clearfix;
}
@media (min-width: 768px) {
    .container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding-right: 35px;
        padding-left: 35px;
    }
}
