.footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  padding-top: 23px;

  &__middle {
    position: relative;
    float: left;
    width: 100%;
    background-color: #fae548;
  }

  &__logo {
    position: relative;
    float: left;
    width: 197px;
    height: 177px;
    overflow: hidden;

    @include breakpoint(max-width 700px) {
      width: 100%;
      height: 100px;
    }

    img, svg {
      size: 100%;
      object-fit: cover;
    }
  }

  &__navlinks {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 197px);
    width: -moz-calc(100% - 197px);
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 36px;
    @include box-sizing(border-box);
    list-style: none;

    @include breakpoint(max-width 700px) {
      width: 100%;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    > li {
      position: relative;
      float: left;
      margin: 0 6px;

      &:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 12px;
        background-color: #000;
        top: 7px;
        margin-left: 6px;
      }
      > a {
        position: relative;
        float: left;
        color: black;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        @include transition(0.4s);
        
        &:hover {
          color: #c0272d;
        }
      }
    }
  }
  
  &__sign {
    position: relative;
    float: left;
    width: 100%;
    background-image: url('../img/foot_line_bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &--wrapper {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(space-around);
      position: relative;
      float: left;
      width: 100%;
    }

    &--art {
      position: relative;
      float: left;
      width: 33.33%;
      color: white;
      font-size: 13px;
      font-weight: 300;
      line-height: 18px;
      margin-top: 24px;
      margin-bottom: 8px;

      @include breakpoint(max-width 1024px) {
        width: 26%;
      }

      strong {
        font-weight: 700;
      }

      @include breakpoint(max-width 700px) {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &:nth-child(2) {
        width: 40%;

        @include breakpoint(max-width 700px) {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__socialc {
    display: block;
    position: relative;
    float: right;
    margin-top: 7px;

    @include breakpoint(max-width 700px) {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    > a {
      position: relative;
      float: left;
      width: 35px;
      height: 35px;
      margin: 0 6px;
      border-radius: 50%;
      overflow: hidden;

      img, svg {
        size: 100%;
        object-fit: cover;
      }
    }
  }
}